<nav class="navbar navbar-expand-lg navbar-light main-nav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/logos/revita_logo_white.png" alt="" width="120">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white underline" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white underline" href="#">Plataforma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white underline" href="#">Programas Educativos</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button type="button" class="button button-main me-md-2">Inicia Sesión</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="button button-secondary">Inscríbete</button>
                </li>
            </ul>
        </div>
    </div>
</nav>