<footer class="static-bottom">
    <div class="container">
        <div class="row justify-content-between align-items-center text-center text-md-none">
            <div class="col-md-3 mb-5 mb-md-0">
                <img src="../../../assets/logos/revita_logo_white.png" alt="">
            </div>
            <div class="col-md-5 mb-5 mb-md-0">
                <div class="d-flex flex-wrap flex-column flex-md-row align-items-center justify-content-around text-white link-group">
                    <a href="#" class="text-decoration-none mb-2 underline">Nosotros</a>
                    <a href="#" class="text-decoration-none mb-2 underline">Plataforma</a>
                    <a href="#" class="text-decoration-none mb-2 underline">Programas Educativos</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center justify-content-evenly">
                    <p>
                        Telefono: <a href="tel:+528115396625" class="text-decoration-none">+52 (81) 1539 6625</a>
                    </p>
                    <p>
                        Correo: <a href="mailto:mlazo@revita.com.mx" class="fw-bold">mlazo@revita.com.mx</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>